@import "../../../../styling/_variables";

.container {
    background-color: #E6EBF0;
}

.blocks {
    display: flex;
    margin-left: 12px;

    max-width: 100vw;
    overflow: hidden;

    .addBlock {
        min-width: 30px;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    
    .button {
        flex-direction: row;

        &:first-child {
            margin-bottom: 20px;
        }
    }
}
